<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} — {% endif %}Nico's Portfolio</title>
  <!-- For major changes to CSS stylesheet, bump v=x + 1 -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?v=2" />
</head>
<body>

  {% include nav.html %}

  <div class="page-content">
    {{ content }}
  </div>

  {% include footer.html %}

</body>
</html>
